aiohttp
aiosignal
aiosmtplib
alabaster
alembic
annotated-types
anyio
async-timeout
attrs
Babel
bcrypt
blinker
certifi
cffi
charset-normalizer
click
cloudinary
colorama
cryptography
dnspython
docutils
ecdsa
email-validator
exceptiongroup
fastapi
fastapi-limiter
fastapi-mail
frozenlist
greenlet
h11
httpcore
httptools
httpx
idna
imagesize
iniconfig
Jinja2
libgravatar
Mako
MarkupSafe
multidict
packaging
passlib[bcrypt]
pluggy
psycopg2-binary
pyasn1
pycparser
pydantic[dotenv]
pydantic-settings
pydantic_core
Pygments
pypng
pytest
pytest-asyncio
python-dotenv
python-jose[cryptography]
python-multipart
PyYAML
qrcode
redis
requests
rsa
six
sniffio
snowballstemmer
Sphinx
sphinxcontrib-applehelp
sphinxcontrib-devhelp
sphinxcontrib-htmlhelp
sphinxcontrib-jsmath
sphinxcontrib-qthelp
sphinxcontrib-serializinghtml
SQLAlchemy
starlette
tomli
typing_extensions
urllib3
uvicorn[standart]
watchfiles
websockets
yarl
